<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Tooplate">

        <title>ALLIANZ PNB</title>
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="{% static 'AdminInfo/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'AdminInfo/css/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'AdminInfo/css/apexcharts.css' %}" rel="stylesheet">
        <link href="{% static 'AdminInfo/css/tooplate-mini-finance.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'home/images/allianzlogo1.png' %}" />
    </head>
    
    <body>
        <header class="navbar sticky-top flex-md-nowrap">
            <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
                <a class="navbar-brand" href="#">
                ALLIANZ APPLICANT
                </a>
            </div>

            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-nav me-lg-2">
                <div class="nav-item text-nowrap d-flex align-items-center">
                   

                  

                    <div class="dropdown px-3">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'AdminInfo/images/prof1.png' %}" class="profile-image img-fluid" alt="">
                        </a>
                        <ul class="dropdown-menu bg-white shadow">
                            <form method="post" {% if ail_id %}action="{% url 'DashAppEdit' ail_id %}"{% else %}action="{% url 'DashApp' %}"{% endif %}></form>
                            <li>
                                <div class="dropdown-menu-profile-thumb d-flex">
                                    <img src="{% static 'AdminInfo/images/prof1.png' %}" class="profile-image img-fluid me-3" alt="">
                                    
                                    <div class="d-flex flex-column">
                                        <small>{{ form.instance.fullname }}</small>
                                        <a href="#">{{ form.instance.email }}</a>
                                    </div>
                                </div>
                            <li class="border-top mt-3 pt-2 mx-4">
                                <a class="dropdown-item ms-0 me-0" href="{% url 'index' %}">
                                    <i class="bi-box-arrow-left me-2"></i>
                                    Logout
                                </a>
                            </li>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
                    <div class="position-sticky py-4 px-5 sidebar-sticky">
                        <ul class="nav flex-column h-50">
                            <li class="nav-item border-top mt-auto pt-2">
                                <a class="nav-link" href="{% url 'index' %}">
                                    <i class="bi-box-arrow-left me-2"></i>
                                    Logout
                                </a>
                                <a class="nav-link active" >
                                    <i class="bi-person me-2"></i>
                                    Form 
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                    <div class="title-group mb-3">
                        <h1 class="h2 mb-0">FORM</h1>
                    </div>
                    <div class="row my-4">
                        <div class="col-lg-6 col-5">
                            <div class="custom-block bg-white">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true"><h6 class="mb-4">FORM INFORMATION</h6></button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">                                       
                                        <div class="col-sm-11">
                                            <div class="form-group">                                             
                                                    <ul class="messages">
                                                        {% for message in messages %}
                                                            <li class="form-control" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                        {% endfor %}
                                                    </ul>                    
                                            </div>
                                        </div>	
                                        
                                        <form method="post" {% if ail_id %}action="{% url 'DashAppEdit' ail_id %}"{% else %}action="{% url 'DashApp' %}"{% endif %}>
                                            {% csrf_token %}
                                        
                                            <!-- Fullname -->
                                            <label for="fullname">Fullname:</label>
                                            <input class="form-control" type="text" placeholder="Fullname" name="fullname" value="{{ form.instance.fullname }}" required><br>
                                        
                                            <!-- Contact -->
                                            <label for="contact">Contact:</label>
                                            <input class="form-control" type="tel" placeholder="Contact" name="contact" value="{{ form.instance.contact }}" required><br>
                                        
                                            <!-- Email -->
                                            <label for="email">Email:</label>
                                            <input class="form-control" type="email" placeholder="Email" name="email" value="{{ form.instance.email }}" required><br>
                                        
                                            <!-- SSS Id -->
                                            <label for="sss_id">SSS Id:</label>
                                            <input class="form-control" type="text" placeholder="SSS Id" name="sss_id" value="{{ form.instance.sss_id }}" required><br>
                                        
                                            <!-- National Identification Number -->
                                            <label for="national_id">National Identification Number:</label>
                                            <input class="form-control" type="text" placeholder="National Identification Number" name="national_id" value="{{ form.instance.national_id }}" required><br>
                                        
                                            <!-- Occupation -->
                                            <label for="occupation">Occupation:</label>
                                            <input class="form-control" type="text" placeholder="Occupation" name="occupation" value="{{ form.instance.occupation }}" required><br>
                                        
                                            <!-- Annual Salary -->
                                            <label for="annual_salary">Annual Salary:</label>
                                            <input class="form-control" type="number" placeholder="Annual Salary" name="annual_salary" value="{{ form.instance.annual_salary }}" required><br>
                                        
                                            <!-- Submit Button -->
                                            <button type="submit" class="btn btn-secondary">Submit</button>
                                        
                                        </form>
                                        
                                        
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-5">
                            <div class="custom-block bg-white">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true"><h6 class="mb-4">PERSONAL INFORMATION</h6></button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">                                       
                                        
                                        <form method="post" {% if mal_id %}action="{% url 'DashAppEdit' mal_id %}"{% else %}action="{% url 'DashAppp' %}"{% endif %}>
                                            {% csrf_token %}
                                        
                                            <!-- Fullname -->
                                            <label for="fullname">Fullname:</label>
                                            <input class="form-control" type="text" placeholder="Fullname" name="fullname" value="{{ form.instance.fullname }}" required><br>
                                        
                                            <!-- Contact -->
                                            <label for="gender">Gender:</label>
                                            <select class="form-control" name="gender" value="{{ form.instance.gender }}" class="input-field" required>
                                                <option value="" disabled selected>Select Role</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select><br>
                                        
                                            <!-- Email -->
                                            <label for="age">Age:</label>
                                            <input class="form-control" type="number" placeholder="age" name="age" value="{{ form.instance.age }}" required><br>
                                        
                                            <!-- SSS Id -->
                                            <label for="birthdate">Birthdate:</label>
                                            <input class="form-control" type="datetime-local" placeholder="Birthdate" name="birthdate" value="{{ form.instance.birthdate }}" required><br>
                                        
                                            <!-- National Identification Number -->
                                            <label for="address">Address:</label>
                                            <input class="form-control" type="text" placeholder="Address" name="address" value="{{ form.instance.address }}" required><br>
                                        
                                           
                                            <!-- Submit Button -->
                                            <button type="submit" class="btn btn-secondary">Submit</button>
                                        
                                        </form>
                                        
                                        
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div> 
                </main>
            </div>
        </div>

        

       <!-- JAVASCRIPT FILES -->
       <script src="{% static 'AdminInfo/js/jquery.min.js' %}"></script>
        <script src="{% static 'AdminInfo/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'AdminInfo/js/custom.js' %}"></script>

    </body>
</html>