<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<!-- Required meta tags --> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>ALLIANZ PNB</title>
		<link rel="stylesheet" href="{% static 'HomeInfo/vendors/mdi/css/materialdesignicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'HomeInfo/vendors/owl.carousel/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'HomeInfo/vendors/owl.carousel/css/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'HomeInfo/vendors/aos/css/aos.css' %}">
		<link rel="stylesheet" href="{% static 'HomeInfo/vendors/jquery-flipster/css/jquery.flipster.css' %}">
		<link rel="stylesheet" href="{% static 'HomeInfo/css/style.css' %}">
		<link rel="shortcut icon" href="{% static 'HomeInfo/images/favicon.png' %}">
	</head>
	<body  data-target=".navbar" data-offset="50">
		<div id="mobile-menu-overlay"></div>
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container">
				<h3 class="font-weight-medium text-white">ALLIANZ PNB</h3>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="mdi mdi-menu"> </i></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<div class="d-lg-none d-flex justify-content-between px-4 py-3 align-items-center">
						
						<a href="javascript:;" class="close-menu"><i class="mdi mdi-close"></i></a>
					</div>
					<ul class="navbar-nav ml-auto align-items-center">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-success" href="{% url 'login' %}">login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <section class="contactus" id="contact">
            <div class="container"><div><br><br><br></div>
                <div class="row mb-5 pb-5">
                    <div class="col-sm-5" data-aos="fade-up" data-aos-offset="-500">
                        <img src="{% static 'HomeInfo/images/log2.png' %}" alt="contact" class="img-fluid">
                    </div>
                    <div class="col-sm-7" data-aos="fade-up" data-aos-offset="-500"><br><br>
                        <h3 class="font-weight-medium text-dark mt-5 mt-lg-0">Register Now!</h3>
                        <h5 class="text-dark mb-5">Enter your information to Register.</h5>
						
						<div class="col-sm-8">
							<div class="form-group">
								{% if messages %}
									<ul class="messages">
										{% for message in messages %}
											<li class="form-control" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</div>	
						
                        <form method="post" action="{% url 'register' %}">
							{% csrf_token %}
							
							<div class="row">								
								<div class="col-sm-5">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Username" name="username" class="input-field" required>
									</div>
								</div>								
                                <div class="col-sm-5">
									<div class="form-group">
										<input class="form-control" type="email" placeholder="Email" name="email" class="input-field" required>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="form-group">
										<input class="form-control" type="password" placeholder="Password" name="password" class="input-field" required>
									</div>
								</div>	
								<div class="col-sm-5">
									<div class="form-group">
										<select class="form-control" name="role" class="input-field" required>
											<option value="" disabled selected>Select Role</option>
											<option value="admin">Admin</option>
											<option value="applicant">Applicant</option>
										</select>
									</div>
								</div>
														
                                <div class="col-sm-12">
									<button type="submit" class="btn btn-secondary">Register</button>
								</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        

		<script src="{% static 'HomeInfo/vendors/base/vendor.bundle.base.js' %}"></script>
		<script src="{% static 'HomeInfo/vendors/owl.carousel/js/owl.carousel.js' %}"></script>
		<script src="{% static 'HomeInfo/vendors/aos/js/aos.js' %}"></script>
		<script src="{% static 'HomeInfo/vendors/jquery-flipster/js/jquery.flipster.min.js' %}"></script>
		<script src="{% static 'HomeInfo/js/template.js' %}"></script>
	</body>
</html>